<div class="wrapper">
    <h1>Default Storage</h1>
    <div>
        <input type="text" (input)="changeDefaultStorageValue($event.target.value)">
        <br>
        <label for="">{{ defaultStorageValue }}</label>
    </div>
</div>
<div class="wrapper">
        <h1>Local Storage</h1>
        <div>
            <input type="text" (input)="changeLocalStorageValue($event.target.value)">
            <br>
            <label for="">{{ localStorageValue }}</label>
        </div>
    </div>
<div class="wrapper">
    <h1>Session Storage</h1>
    <div>
        <input type="text" (input)="changeSessionStorageValue($event.target.value)">
        <br>
        <label for="">{{ sessionStorageValue }}</label>
    </div>
</div>
