<h1>Math Pipe</h1>
<h3>Value: 2.83 - Floor: {{ 2.83 | mathPipe: 'floor' }}</h3>
<p>---------------------------------------------------------------------------------------------------</p>
<h1>File Size Formatter Pipe</h1>
<h3>Value: 5240 - Size: {{ 5240 | fileSizeFormatter }}</h3>
<p>---------------------------------------------------------------------------------------------------</p>
<h1>Join Pipe</h1>
<h3>Values:</h3>
<ul>
    <li *ngFor="let elem of elementsList">{{  elem | json }}</li>
</ul>
<h3>Joined: {{ elementsList | join:'user.name' }}</h3>
<p>---------------------------------------------------------------------------------------------------</p>
<h1>Filter List Pipe</h1>
<h3>Values:</h3>
<ul>
    <li *ngFor="let elem of elementsList">{{  elem | json }}</li>
</ul>
<h3>Is Valid:</h3>
<ul>
    <li *ngFor="let elem of elementsList | filterList: 'user.valid': true">{{  elem | json }}</li>
</ul>
