<h3>Call API</h3>
<h4>
    Sort: 
    <select [(ngModel)]="selectedSortOption" name="select-sort-option">
        <option value="null">Select</option>
        <ng-container *ngFor="let option of sortOptions; let i = index;">
            <option value="{{ option.field }}">{{ option.label }} asc</option>
            <option value="{{ option.field }}">{{ option.label }} desc</option>
        </ng-container>
    </select>
    {{ selectedSortOption }}
</h4>
<br>
<input type="text" [(ngModel)]="searchText" (keyup.enter)="btnCallApi.click()">
<button (click)="callApi()" #btnCallApi>
    Call
</button>
<button (click)="callOne()">
    Call One
</button>
<button (click)="save()">
    Save
</button>
<button (click)="update()">
    Update
</button>
<br>
<h4>Results:</h4>
<br>
<ul>
    <li *ngFor="let cat of cats">
        {{ cat.name }}
    </li>
</ul>

<form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
    <input placeholder="Name" type="text" name="name" formControlName="name">
    <input placeholder="Description" type="text" name="description" formControlName="description">
    <input placeholder="Q" type="text" name="q" formControlName="q">
    <div formGroupName="parentCollection">
        <input placeholder="Collection" type="text" name="parentCollection.name" formControlName="name">
    </div>
</form>
